@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('/hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
.contact-bg {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url('/hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width:4px;   /* thin width */
  height:4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 160, 160, 0.7);  /* light gray thumb */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.9);
}

::-webkit-scrollbar-track {
  background: #000;   /* pure black track background */
}

/* Remove scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}

/* Firefox support */
